In [2]:
# importing required libraries
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

In [4]:
# Load .env environment variables
load_dotenv()

# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Check to make sure keys imported correctly, str confirms success
display(type(alpaca_api_key))
display(type(alpaca_secret_key))

str

str

In [5]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [6]:
# Set date range as ISO format
start_date = pd.Timestamp("2020-11-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-04-14", tz="America/New_York").isoformat()

In [7]:
# Create tickers variable, these should be updated as needed
tickers = ['GME', 'AMC', 'TSLA', 'TLRY', 'SNDL', 'PLTR']

In [8]:
# Set timeframe to one day ('1D') to get daily data
timeframe = "1D"

In [9]:
# Get current closing prices for the tickers
df_stonks = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_date,
    end = end_date
).df

# Display sample data
df_stonks

                            AMC                                        GME  \
                           open    high     low   close     volume    open
2020-11-18 00:00:00-05:00  3.08   3.370  3.0100  3.2600   61386484   11.80
2020-11-19 00:00:00-05:00  3.16   3.375  3.1500  3.1900   27116295   11.60
2020-11-20 00:00:00-05:00  3.25   3.370  3.2100  3.3500   32194315   12.55
2020-11-23 00:00:00-05:00  3.51   3.850  3.4100  3.8000   59956713   12.90
2020-11-24 00:00:00-05:00  4.16   5.000  4.1500  4.5800  121858022   14.23
...                         ...     ...     ...     ...        ...     ...
2021-04-08 00:00:00-04:00  9.98  10.010  9.5000  9.7800   31407041  185.86
2021-04-09 00:00:00-04:00  9.60   9.740  9.2400  9.4200   27700431  169.90
2021-04-12 00:00:00-04:00  9.41   9.490  8.5100  8.6203   48974877  158.10
2021-04-13 00:00:00-04:00  8.65   9.120  8.3101  8.8411   42260575  141.85
2021-04-14 00:00:00-04:00  9.00   9.810  8.9000  9.3500   49391877  144.14

                                                               ...     TLRY  \
                               high     low   close    volume  ...     open
2020-11-18 00:00:00-05:00   12.0400   11.56   11.58   5995564  ...   7.3062
2020-11-19 00:00:00-05:00   12.7900   11.45   12.46  22817055  ...   7.1500
2020-11-20 00:00:00-05:00   13.4600   12.54   12.71  16233695  ...   6.8000
2020-11-23 00:00:00-05:00   14.1200   12.67   13.90  18522123  ...   7.3450
2020-11-24 00:00:00-05:00   14.2600   13.30   13.68  13779752  ...   7.4900
...                             ...     ...     ...       ...  ...      ...
2021-04-08 00:00:00-04:00  185.8800  164.30  170.24   9077021  ...  19.8800
2021-04-09 00:00:00-04:00  171.5800  153.00  158.32   9196674  ...  19.8100
2021-04-12 00:00:00-04:00  163.9000  135.01  141.07  16290274  ...  18.0000
2021-04-13 00:00:00-04:00  145.3771  132.00  140.72   6436582  ...  16.3900
2021-04-14 00:00:00-04:00  174.0900  143.00  167.00  20701021  ...  18.1800

                                                                  TSLA  \
                              high      low    close    volume    open
2020-11-18 00:00:00-05:00   7.5400   7.1200   7.1400  11537041  448.35
2020-11-19 00:00:00-05:00   7.1788   6.6800   6.7300  15863518  492.00
2020-11-20 00:00:00-05:00   7.4800   6.7100   7.3500  16662666  497.99
2020-11-23 00:00:00-05:00   7.3500   6.6600   6.6750  33216766  503.50
2020-11-24 00:00:00-05:00   8.1800   7.3000   7.8100  45408218  540.40
...                            ...      ...      ...       ...     ...
2021-04-08 00:00:00-04:00  20.1894  19.0800  19.7600  13139421  677.38
2021-04-09 00:00:00-04:00  20.6800  19.4031  19.7600  13697843  677.77
2021-04-12 00:00:00-04:00  18.2100  17.1000  17.1500  25117630  685.72
2021-04-13 00:00:00-04:00  18.5301  16.2800  18.3199  22176854  712.56
2021-04-14 00:00:00-04:00  18.1300  17.3200  17.3950  14931635  770.70


                               high       low   close    volume
2020-11-18 00:00:00-05:00  496.0000  443.5001  486.64  75901661
2020-11-19 00:00:00-05:00  508.6112  487.5700  499.16  59759624
2020-11-20 00:00:00-05:00  502.5000  489.0600  489.44  31084668
2020-11-23 00:00:00-05:00  526.0000  501.7900  521.67  46506862
2020-11-24 00:00:00-05:00  559.9900  526.2000  555.86  49296561
...                             ...       ...     ...       ...
2021-04-08 00:00:00-04:00  689.5499  671.6450  683.77  22310546
2021-04-09 00:00:00-04:00  680.9700  669.4300  677.02  20359010
2021-04-12 00:00:00-04:00  704.8000  682.0900  701.63  27539935
2021-04-13 00:00:00-04:00  763.0000  710.6600  762.35  42476139
2021-04-14 00:00:00-04:00  780.7900  728.0300  732.99  46017883

[100 rows x 30 columns]

In [12]:
# Extract closing data for all stocks, start with an empty DataFrame
closing_prices_df = pd.DataFrame()

# Get the closing prices of stocks
closing_prices_df["GME"] = df_stonks["GME"]["close"]
closing_prices_df["AMC"] = df_stonks["AMC"]["close"]
closing_prices_df["TSLA"] = df_stonks["TSLA"]["close"]
closing_prices_df["TLRY"] = df_stonks["TLRY"]["close"]
closing_prices_df["SNDL"] = df_stonks["SNDL"]["close"]
closing_prices_df["PLTR"] = df_stonks["PLTR"]["close"]

# Drop the time component of the date
closing_prices_df.index = closing_prices_df.index.date

# Display sample data
display(closing_prices_df.head())
display(closing_prices_df.tail())

              GME   AMC    TSLA   TLRY    SNDL   PLTR
2020-11-18  11.58  3.26  486.64  7.140  0.2589  17.90
2020-11-19  12.46  3.19  499.16  6.730  0.2623  18.98
2020-11-20  12.71  3.35  489.44  7.350  0.2544  18.14
2020-11-23  13.90  3.80  521.67  6.675  0.2417  21.03
2020-11-24  13.68  4.58  555.86  7.810  0.3000  23.85

               GME     AMC    TSLA     TLRY      SNDL     PLTR
2021-04-08  170.24  9.7800  683.77  19.7600  1.015000  23.4100
2021-04-09  158.32  9.4200  677.02  19.7600  1.000000  24.0301
2021-04-12  141.07  8.6203  701.63  17.1500  0.931499  23.3300
2021-04-13  140.72  8.8411  762.35  18.3199  0.976400  25.4150
2021-04-14  167.00  9.3500  732.99  17.3950  0.905700  23.6800

In [13]:
# Extract open data for all stocks, start with an empty DataFrame
opening_prices_df = pd.DataFrame()

# Get the opening prices of stocks
opening_prices_df["GME"] = df_stonks["GME"]["open"]
opening_prices_df["AMC"] = df_stonks["AMC"]["open"]
opening_prices_df["TSLA"] = df_stonks["TSLA"]["open"]
opening_prices_df["TLRY"] = df_stonks["TLRY"]["open"]
opening_prices_df["SNDL"] = df_stonks["SNDL"]["open"]
opening_prices_df["PLTR"] = df_stonks["PLTR"]["open"]

# Drop the time component of the date
opening_prices_df.index = opening_prices_df.index.date

# Display sample data
display(closing_prices_df.head())
display(closing_prices_df.tail())

              GME   AMC    TSLA   TLRY    SNDL   PLTR
2020-11-18  11.58  3.26  486.64  7.140  0.2589  17.90
2020-11-19  12.46  3.19  499.16  6.730  0.2623  18.98
2020-11-20  12.71  3.35  489.44  7.350  0.2544  18.14
2020-11-23  13.90  3.80  521.67  6.675  0.2417  21.03
2020-11-24  13.68  4.58  555.86  7.810  0.3000  23.85

               GME     AMC    TSLA     TLRY      SNDL     PLTR
2021-04-08  170.24  9.7800  683.77  19.7600  1.015000  23.4100
2021-04-09  158.32  9.4200  677.02  19.7600  1.000000  24.0301
2021-04-12  141.07  8.6203  701.63  17.1500  0.931499  23.3300
2021-04-13  140.72  8.8411  762.35  18.3199  0.976400  25.4150
2021-04-14  167.00  9.3500  732.99  17.3950  0.905700  23.6800