In [1]:
# importing required libraries
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

In [2]:
# Load .env environment variables
load_dotenv()

# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Check to make sure keys imported correctly, str confirms success
display(type(alpaca_api_key))
display(type(alpaca_secret_key))

str

str

In [3]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [4]:
# Set date range as ISO format
start_date = pd.Timestamp("2020-06-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-04-16", tz="America/New_York").isoformat()

In [5]:
# Create tickers variable, these should be updated as needed
# tickers = ['GME', 'AMC', 'TSLA', 'TLRY', 'SNDL', 'PLTR']
tickers = ['GME']

In [6]:
# Set timeframe to one day ('1D') to get daily data
timeframe = "1D"

In [7]:
# Get current closing prices for the tickers
df_stonks = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_date,
    end = end_date
).df
# print(start_date)

# Display sample data
df_stonks

                              GME
                             open      high     low   close    volume
2020-11-20 00:00:00-05:00   12.55   13.4600   12.54   12.71  16233695
2020-11-23 00:00:00-05:00   12.90   14.1200   12.67   13.90  18522123
2020-11-24 00:00:00-05:00   14.23   14.2600   13.30   13.68  13779752
2020-11-25 00:00:00-05:00   13.60   15.2500   13.42   14.75  17250470
2020-11-27 00:00:00-05:00   15.29   16.7400   14.88   16.05  24344622
...                           ...       ...     ...     ...       ...
2021-04-12 00:00:00-04:00  158.10  163.9000  135.01  141.07  16290274
2021-04-13 00:00:00-04:00  141.85  145.3771  132.00  140.72   6436582
2021-04-14 00:00:00-04:00  144.14  174.0900  143.00  167.00  20701021
2021-04-15 00:00:00-04:00  163.07  166.2546  152.80  156.32   7529149
2021-04-16 00:00:00-04:00  156.45  160.1969  151.25  154.68   4817053

[100 rows x 5 columns]

In [8]:
# Extract closing data for all stocks, start with an empty DataFrame
closing_prices_df = pd.DataFrame()

# Get the closing prices of stocks
closing_prices_df["GME"] = df_stonks["GME"]["close"]
# closing_prices_df["AMC"] = df_stonks["AMC"]["close"]
# closing_prices_df["TSLA"] = df_stonks["TSLA"]["close"]
# closing_prices_df["TLRY"] = df_stonks["TLRY"]["close"]
# closing_prices_df["SNDL"] = df_stonks["SNDL"]["close"]
# closing_prices_df["PLTR"] = df_stonks["PLTR"]["close"]

# Drop the time component of the date
closing_prices_df.index = closing_prices_df.index.date

# Display sample data
display(closing_prices_df.head())
display(closing_prices_df.tail())

              GME
2020-11-20  12.71
2020-11-23  13.90
2020-11-24  13.68
2020-11-25  14.75
2020-11-27  16.05

               GME
2021-04-12  141.07
2021-04-13  140.72
2021-04-14  167.00
2021-04-15  156.32
2021-04-16  154.68

In [9]:
# Extract open data for all stocks, start with an empty DataFrame
opening_prices_df = pd.DataFrame()

# Get the opening prices of stocks
opening_prices_df["GME"] = df_stonks["GME"]["open"]
# opening_prices_df["AMC"] = df_stonks["AMC"]["open"]
# opening_prices_df["TSLA"] = df_stonks["TSLA"]["open"]
# opening_prices_df["TLRY"] = df_stonks["TLRY"]["open"]
# opening_prices_df["SNDL"] = df_stonks["SNDL"]["open"]
# opening_prices_df["PLTR"] = df_stonks["PLTR"]["open"]

# Drop the time component of the date
opening_prices_df.index = opening_prices_df.index.date

# Display sample data
display(closing_prices_df.head())
display(closing_prices_df.tail())

              GME
2020-11-20  12.71
2020-11-23  13.90
2020-11-24  13.68
2020-11-25  14.75
2020-11-27  16.05

               GME
2021-04-12  141.07
2021-04-13  140.72
2021-04-14  167.00
2021-04-15  156.32
2021-04-16  154.68

In [10]:
from finta import TA

In [11]:
# Create a GME DF to test technical indicators
gme_df = pd.DataFrame(closing_prices_df['GME'])
display(gme_df.head())
display(gme_df.tail())

              GME
2020-11-20  12.71
2020-11-23  13.90
2020-11-24  13.68
2020-11-25  14.75
2020-11-27  16.05

               GME
2021-04-12  141.07
2021-04-13  140.72
2021-04-14  167.00
2021-04-15  156.32
2021-04-16  154.68

In [12]:
# Create colum for actual returns 
gme_df['actual_returns'] = gme_df.pct_change()

# Review the data
gme_df.head()

              GME  actual_returns
2020-11-20  12.71             NaN
2020-11-23  13.90        0.093627
2020-11-24  13.68       -0.015827
2020-11-25  14.75        0.078216
2020-11-27  16.05        0.088136

In [13]:
# Setting short, medium and long SMAs, starting with the short
gme_df['50_day_sma'] = gme_df['GME'].rolling(window=50).mean()

# Setting the medium SMA
gme_df['150_day_sma'] = gme_df['GME'].rolling(window=150).mean()

# Setting the long SMA
gme_df['200_day_sma'] = gme_df['GME'].rolling(window=200).mean()

In [14]:
gme_df.tail()

               GME  actual_returns  50_day_sma  150_day_sma  200_day_sma
2021-04-12  141.07       -0.108957  144.326470          NaN          NaN
2021-04-13  140.72       -0.002481  140.576070          NaN          NaN
2021-04-14  167.00        0.186754  139.376070          NaN          NaN
2021-04-15  156.32       -0.063952  140.693070          NaN          NaN
2021-04-16  154.68       -0.010491  141.945808          NaN          NaN

In [15]:
# Initialize the new `Signal` column on GME df
gme_df['signal'] = 0.0

In [24]:
# Generate signal to buy GME long
gme_df.loc[(gme_df['GME'] >= gme_df['50_day_sma'])
           & (gme_df['50_day_sma'] >= gme_df['150_day_sma'])
           & (gme_df['150_day_sma'] >= gme_df['200_day_sma']), 
           'signal'] = 1

In [25]:
gme_df.tail()

,GME,actual_returns,50_day_sma,150_day_sma,200_day_sma,signal
2021-04-12,141.07,-0.108957,144.326470,NaN,NaN,0.0
2021-04-13,140.72,-0.002481,140.576070,NaN,NaN,0.0
2021-04-14,167.00,0.186754,139.376070,NaN,NaN,1.0
2021-04-15,156.32,-0.063952,140.693070,NaN,NaN,0.0
2021-04-16,154.68,-0.010491,141.945808,NaN,NaN,0.0